<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon aria-hidden="home icon" fontIcon="home"></mat-icon>
    </button>
    <span>Sample Material Component</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button class="example-icon favorite-icon" style="right: 0">
      <mat-icon aria-hidden="home icon" fontIcon="add"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 50px">
  <button mat-raised-button color="primary">Primary Button</button>

  <br />
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
